* {
  margin: 0;
  padding: 0;
  /* border: solid red 1px; */
}

/*! Inicio estilo moneda*/

.moneda {
  transform: translateY(400px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 50%;
  margin-top: -10%;
  transform-style: preserve-3d;
}

.moneda-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sellofront {
  transform: translateZ(1px);
}

.caraback {
  transform: rotateY(180deg);
}

.sellofront img {
  height: 200px;
  width: 200px;
}

.caraback img {
  height: 200px;
  width: 200px;
}

/*! Fin estilo moneda*/

/*Estilo formulario*/

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
}

.nav .titulo {
  font-size: 3em;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
}